body

{
    margin: 40px;
    background: #FFEFBA;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFFFFF, #FFEFBA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.Presentation h1
{
text-align: center;
text-decoration: overline underline ;
}

#Adr
{
    text-align: right;
}

.Objectif h3 
{
    text-align: center;
}
.Objectif
{
    text-align: center;
}

.ExpérienceProfessionnelle h3
{
    text-decoration: underline;
    text-align: center;
}
#ExpérienceProfessionnelle {
    text-align: center;
}

.Etude h2
{
    color: #000000f7;
    text-align: center; 
    text-decoration: underline;
}
.Etude
{
    text-align: center;
}

.Compétence
{
    text-align: center;
}

#Liengit

{
    text-align: center;
}

#InstallationPdf
{
    text-align: center;
}

#Carre {
    background-color: black;
}
